.introduction-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.intro-frame-container {
  width: 602px;
  height: 300px;
  background-color: var(--color-background--2);
  transform: skewY(-2deg);
  box-shadow: -0.7rem 0.7rem 1rem rgba(0, 0, 0, 0.6);
  position: relative;
  border: 1px solid transparent;
  animation: intro-bounce 0.6s infinite alternate;
}

.intro-frame-container.dark-mode {
  border: 1px solid var(--border-color);
}

/* @keyframes intro-bounce {
  to {
    transform: translate3d(0, -5px, 0) skewY(-2deg);
  }
} */

.intro-frame-container,
.intro-card-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.intro-card-container {
  width: 85%;
  height: 65%;
  padding: 1rem;
  background: var(--color-font-1);
  border-left: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
  background-size: 600% 600%;
  perspective: 800px;
  position: relative;
}

/* .intro-card-container:hover .infinite-intro-flip {
  transform: rotateX(180deg) translate3d(0, 0, 0);
  box-shadow: 8px -10px 15px 0 rgba(0, 0, 0, 0.5);
} */

.infinite-intro-flip {
  position: relative;
  transform-style: preserve-3d;
  transition: all 0.7s ease-in-out;
  /* transform: rotateX(180deg) translate3d(0, 0, 0); */

  perspective: 1000px;
}

.front-card,
.rear-card {
  display: flex;
  justify-content: center;
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  text-align: center;
  align-items: center;
  backface-visibility: hidden;
  overflow: hidden;
  width: 508px;
  height: 235px;
  background: var(--color-background--2);
  color: var(--color-font-1);
}

.rear-card {
  flex-direction: column;
  font-size: 3rem;
  font-weight: 500;
  transform: rotateX(-180deg);
  position: absolute;
  top: 0;
  left: 0;
}

/* content styling */
.hello {
  font-size: 4rem;
  font-weight: 700;
  white-space: nowrap;
  overflow: hidden;
  text-align: center;
}

.animate-text-1 {
  animation: hello 3s linear infinite;
  animation-fill-mode: forwards;
}

.animate-text-2 {
  white-space: nowrap;
  overflow: hidden;
  animation: My-name 3s linear infinite;
  animation-fill-mode: forwards;
}

.animate-text-3 {
  white-space: nowrap;
  overflow: hidden;
  animation: Welcome 3s linear infinite;
  animation-fill-mode: forwards;
}

.animate-text-4 {
  white-space: nowrap;
  overflow: hidden;
  animation: portfolio 3s linear infinite;
  animation-fill-mode: forwards;
}

@keyframes hello {
  0%,
  30% {
    width: 0;
  }
  40%,
  100% {
    width: 378.77px;
  }
}

@keyframes My-name {
  0%,
  30% {
    width: 0;
  }
  40%,
  100% {
    width: 427.16px;
  }
}

@keyframes Welcome {
  0%,
  35% {
    width: 0;
  }
  45%,
  100% {
    width: 244.56px;
  }
}

@keyframes portfolio {
  0%,
  40% {
    width: 0;
  }
  50%,
  100% {
    width: 349.25px;
  }
}

@media (max-width: 1243px) {
  .intro-frame-container {
    width: 552px;
    height: 250px;
  }
  .front-card,
  .rear-card {
    width: 465px;
    height: 185px;
  }
  .rear-card {
    font-size: 2.7rem;
  }
  .hello {
    font-size: 3.5rem;
  }
}

@media (max-width: 1141px) {
  .intro-frame-container {
    width: 502px;
    height: 250px;
  }
  .front-card,
  .rear-card {
    width: 423px;
    height: 185px;
  }
  .rear-card {
    font-size: 2.2rem;
  }
  .hello {
    font-size: 3rem;
  }
}

@media (max-width: 1040px) {
  .intro-frame-container {
    width: 652px;
    height: 300px;
    margin: 0 auto;
    transform: skewY(0deg);
    margin-top: 25px;
    box-shadow: 0.5rem 0.7rem 1rem rgba(0, 0, 0, 0.6);

    animation-iteration-count: 0;
  }
  .front-card,
  .rear-card {
    width: 549px;
    height: 233px;
  }

  .first-sub-main {
    padding-bottom: 0px;
  }
  .rear-card {
    font-size: 2.2rem;
  }
  .hello {
    font-size: 3rem;
  }
}

@media (max-width: 690px) {
  .intro-frame-container {
    width: 502px;
    height: 250px;
    margin: 0 auto;
    box-shadow: none;
    margin-top: 25px;
    transform: skewY(0deg);
  }
  .front-card,
  .rear-card {
    width: 423px;
    height: 185px;
  }
  .rear-card {
    font-size: 2.2rem;
  }
  .hello {
    font-size: 3rem;
  }
}

@media (max-width: 620px) {
  .intro-frame-container {
    width: 462px;
    height: 250px;
    margin: 0 auto;
    transform: skewY(0deg);
  }
  .front-card,
  .rear-card {
    width: 389px;
    height: 185px;
  }
  .rear-card {
    font-size: 2.2rem;
  }
  .hello {
    font-size: 3rem;
  }
}

@media (max-width: 616px) {
  .intro-frame-container {
    width: 432px;
    height: 250px;
    margin: 0 auto;
    transform: skewY(0deg);
  }
  .front-card,
  .rear-card {
    width: 363px;
    height: 185px;
  }
}

@media (max-width: 600px) {
  .intro-frame-container {
    width: 458px;
    height: 250px;
    margin: 0 auto;
    transform: skewY(0deg);
  }
  .front-card,
  .rear-card {
    width: 383px;
    height: 185px;
  }
}

@media (max-width: 415px) {
  .intro-frame-container {
    width: 389px;
    height: 250px;
    margin: 0 auto;
    transform: skewY(0deg);
  }
  .front-card,
  .rear-card {
    width: 327px;
    height: 185px;
  }
  .rear-card {
    font-size: 1.8rem;
  }
  .hello {
    font-size: 2.2rem;
  }
}

@media (max-width: 415px) {
  .intro-frame-container {
    width: 371px;
    height: 220px;
    margin: 0 auto;
    transform: skewY(0deg);
  }
  .front-card,
  .rear-card {
    width: 310px;
    height: 145px;
  }
  .rear-card {
    font-size: 1.8rem;
  }
  .hello {
    font-size: 2.2rem;
  }
}

@media (max-width: 376px) {
  .intro-frame-container {
    width: 353px;
    height: 200px;
    margin: 0 auto;
    transform: skewY(0deg);
  }
  .front-card,
  .rear-card {
    width: 296px;
    height: 135px;
  }
}

@media (max-width: 361px) {
  .intro-frame-container {
    width: 338px;
    height: 200px;
    margin: 0 auto;
    transform: skewY(0deg);
  }
  .front-card,
  .rear-card {
    width: 283px;
    height: 135px;
  }
}

@media (max-width: 320px) {
  .intro-frame-container {
    width: 298px;
    height: 200px;
    margin: 0 auto;
    transform: skewY(0deg);
  }
  .front-card,
  .rear-card {
    width: 250px;
    height: 135px;
  }
  .rear-card {
    font-size: 1.6rem;
  }
  .hello {
    font-size: 2.2rem;
  }
}

@media (max-width: 280px) {
  .intro-frame-container {
    width: 258px;
    height: 200px;
    margin: 0 auto;
    transform: skewY(0deg);
  }
  .front-card,
  .rear-card {
    width: 215px;
    height: 135px;
  }
  .rear-card {
    font-size: 1.4rem;
  }
  .hello {
    font-size: 2.2rem;
  }
}
