.project-container {
  background: var(--window-color);
  color: var(--color-font-1);
  box-sizing: border-box;
  overflow-x: hidden;
}
/* project-header Container design */
.project-header {
  padding: 0.5rem 1.5rem 0.25rem 1.5rem;
  margin: 1rem;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  /* text-align: center; */
  /* border-bottom: 1px solid white; */
}

.project-items-container {
  position: relative;
  padding: 0.25rem 1rem;
  width: 100vw;
  display: flex;
  /* make sure to use justify content center for mobile */
  align-items: center;
  transition: all ease-in 0.5s;
}

.main-projectCard-container {
  width: 100%;
  padding: 0 1rem;
  display: flex;
  justify-content: space-evenly;
  /* make sure to use justify content center for mobile */
  align-items: center;
  transition: all ease-in 0.5s;
}

/* project card design */
.project-card {
  flex-shrink: 0;
  margin: 0.25rem 1rem;
  position: relative;
  padding: 1rem;
  max-width: 300px;
  background: var(--project-background);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.project-card::before {
  content: "";
  width: 50%;
  height: 50%;
  position: absolute;
  background: var(--border-color);
  top: 5px;
  left: 5px;
  z-index: -1;
  filter: blur(10px);
}

.project-card::after {
  content: "";
  width: 50%;
  height: 50%;
  position: absolute;
  background: var(--border-color);
  bottom: 5px;
  right: 5px;
  z-index: -1;
  filter: blur(12px);
}
/* project image design */
.project-image {
  width: 100%;
  height: 160px;
  padding: 0 0.25rem;
  margin-bottom: 0.25rem;
}

.project-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding: 1rem 1rem 0 1rem;
}
/* project title */
.project-title {
  text-transform: uppercase;
  text-align: center;
  margin: 0.25rem auto;
  font-size: 1.2rem;
  font-weight: 600;
}
/* project description */
.project-description {
  margin: 0.25rem auto;
  color: #b7c9cc;
  padding: 0 0.25rem;
  width: 100%;
  height: 160px;
  overflow-y: auto;
}
/* project tags */
.project-tags {
  display: flex;
  width: 100%;
  margin: 0.25rem auto;
  padding: 0 0.25rem;
  color: var(--project-background);
  font-weight: 600;
  justify-content: space-around;
}

.tag {
  text-transform: uppercase;
  text-align: center;
  padding: 5px;
  border-radius: 15px;
  margin: 0.5rem;
}
/* project source code design */
.project-code {
  border-radius: 20px;
  background: var(--gradient-red);
  padding: 0.5rem;
  margin: 0.25rem auto;
  border-radius: 5px;
  font-weight: 600;
}

.code-link {
  display: inline-block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: var(--project-background);
}

.gradient-yellow {
  background: var(--gradient-yellow);
}

.gradient-red {
  background: var(--gradient-red);
}

.gradient-green {
  background: var(--gradient-green);
}

.gradient-blue {
  background: var(--gradient-blue);
}

.gradient-purple {
  background: var(--gradient-purple);
}

.gradient-teal {
  background: var(--gradient-teal);
}

/* Slider btn design */
.slider__btn {
  position: absolute;
  display: none;
  top: 50%;
  z-index: 10;
  border: none;
  font-family: inherit;
  padding: 0rem 0.5rem;
  color: var(--color-font-1);
  border-radius: 50%;
  font-size: 3.5rem;
  cursor: pointer;
}

.slider__btn--left {
  left: 0;
  /* transform: translate(-50%, -50%); */
}

.slider__btn--right {
  right: 0;
  /* transform: translate(50%, -50%); */
}

@media (max-width: 375px) {
  .project-items-container,
  .main-projectCard-container {
    padding: 2px;
  }
  .project-card {
    max-width: 280px;
    margin: 0.125rem 0.3125rem;
    padding: 0.25rem;
  }
}

@media (max-width: 320px) {
  .project-header {
    font-size: 1.7rem;
  }
  .project-card {
    max-width: 240px;
    padding: 0.125rem;
  }

  .slider__btn {
    font-size: 1.5rem;
    padding: 0 0.125rem;
  }
}

@media (max-width: 280px) {
  .project-header {
    font-size: 1.5rem;
  }
  .project-items-container,
  .main-projectCard-container {
    padding: 0;
  }
  .project-card {
    margin: 0;
  }
}
